@use "global" as *;

/*-------------KeyFeatures-------------*/
.keyfeatures {
  min-height: 100vh;
  padding: 80px 0;
  display: flex;
  align-items: center;
  background-image: linear-gradient(350deg, #d5b78180, #bd9c6480),
    url("../img/pattern.jpg");
  background-repeat: repeat;
}

.keyfeatures__grid {
  margin: 0 auto;
}

.keyfeatures__title,
.keyfeatures__subtitle {
  text-align: center;
}

.keyfeatures__cards-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin-top: 80px;
}

.keyfeatures__card {
  display: flex;
  width: 350px;
  background-image: linear-gradient(
    350deg,
    rgba(99, 86, 61, 0.55) 0%,
    rgba(110, 90, 60, 0.55) 100%
  );
  box-shadow: 4px 4px 20px #00000025;
  border-radius: 15px;
  transition: all 0.3s;
  padding: 20px;
  cursor: pointer;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}
.keyfeatures__card:hover {
  margin-top: -20px;
  box-shadow: 4px 4px 80px #ffffff11;
  transform: rotate(1.5deg);
}

.keyfeatures__card-title,
.keyfeatures__card-text {
  text-align: center;
}

.keyfeatures__card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyfeatures__card-content .btn-one {
  margin-bottom: 15px;
  display: block;
  margin: 0 auto;
  background-image: linear-gradient(
    325deg,
    #ffc640 0%,
    #f7b315 55%,
    #ffc640 90%
  );
}

.keyfeatures__card-icon {
  width: 30%;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .keyfeatures__card {
    width: 300px;
    padding: 10px;
    padding-bottom: 20px;
  }
}
